.import-wizard {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 36px;
    margin-bottom: 28px;
  }

  &__description {
    color: var(--color-text-medium-emphasis);
  }

  &__step {
    display: grid;
    margin-top: 32px;
  }
}
