<section class="login-media-sidebar">
  <!-- <logo /> -->

  <video
    [autoplay]="true"
    [loop]="true"
    [muted]="true"
  >
    <source
      src="/assets/vid/videoplayback.mp4"
      type="video/mp4"
    />
  </video>
</section>

<section class="login-form-sidebar">
  <div class="login-form-content">
    <h1
      [selector]="selectors.titleLabel"
      class="headline-large"
    >
      Sign in to {{ applicationName }}
    </h1>

    @if (invalidCredentials()) {
      <div
        [selector]="selectors.invalidCredentialsLabel"
        class="error-text"
      >
        Sorry, couldn’t find an account matching the username and password you entered. Please try again.
      </div>
    }

    <form
      [formGroup]="form"
      autocomplete="off"
    >
      <neko-textfield>
        <label [selector]="selectors.emailLabel">Email</label>

        <input
          [selector]="selectors.emailTextField"
          formControlName="email"
          nekoTextfield
          type="email"
        />

        <neko-error
          [control]="form.controls.email"
          [selector]="selectors.emailErrorLabel"
        />
      </neko-textfield>

      <neko-textfield>
        <label [selector]="selectors.passwordLabel">Password</label>

        <input
          [selector]="selectors.passwordTextField"
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          nekoTextfield
        />

        <button
          [attr.aria-pressed]="hidePassword"
          [selector]="selectors.passwordVisibilityButton"
          aria-label="Show password"
          nekoIconButton
          nekoSlot="right"
          variant="text"
          (click)="hidePassword = !hidePassword"
        >
          <i>{{ hidePassword ? 'visibility_off' : 'visibility' }}</i>
        </button>

        <neko-error
          [control]="form.controls.password"
          [selector]="selectors.passwordErrorLabel"
        />
      </neko-textfield>

      <button
        [disabled]="loading()"
        [selector]="selectors.submitButton"
        nekoButton
        (click)="handleSubmit()"
      >
        Sign In
      </button>
    </form>

    <p
      [selector]="selectors.noAccountLabel"
      class="body-medium"
    >
      Don't have an account?
      <a
        [selector]="selectors.registrationLink"
        class="link"
        routerLink="/registration"
      >
        Sign up
      </a>
    </p>
  </div>
</section>
