@if (loading()) {
  <n-loading-indicator />
} @else {
  <n-textfield
    [class.ng-invalid]="invalid()"
    [class.ng-touched]="touched()"
  >
    <label for="genres"> Choose up to 3 genres </label>

    <i
      class="genre-autocomplete__search-icon"
      slot="left"
      >search</i
    >

    <input
      id="genres"
      placeholder="Search"
      type="text"
      [formField]="filterForm.value"
      [nAutocompleteTrigger]="autocomplete"
      (blur)="touched.set(true)"
      (optionSelected)="addGenre($event)"
    />

    <ng-template #autocomplete>
      <n-autocomplete>
        @if (filteredGenres().length > 0) {
          @for (genre of filteredGenres(); track genre.id) {
            <n-autocomplete-option [value]="genre.id">
              {{ genre.name }}
            </n-autocomplete-option>
          }
        } @else {
          <n-autocomplete-option disabled> No genres found </n-autocomplete-option>
        }
      </n-autocomplete>
    </ng-template>

    @if (invalid() && touched()) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (invalid() && touched()) {
        @for (error of errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  @if (selectedGenres().length > 0) {
    <div class="genre-autocomplete__selected-genres">
      @for (genre of selectedGenres(); track genre) {
        <n-chip>
          {{ genre.name }}
          <button
            nIconButton
            type="button"
            (click)="removeGenre(genre.id)"
          >
            <i>close</i>
          </button>
        </n-chip>
      }
    </div>
  }
}
