@use 'abstracts' as abstracts;

$drawer-width: 280px;

:host {
  --n-navigation-bg: var(--color-surface);
  --n-navigation-active-color: rgba(var(--color-on-surface-rgb), .16);
  --n-navigation-hover-color: var(--color-on-surface);

  width: $drawer-width;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--n-navigation-bg);
  width: $drawer-width;
  height: 100%;
  padding-top: 24px;

  @include abstracts.elevation(0);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: row;
  height: 48px;
  gap: 12px;
  padding: 0 16px;
  margin: 0 12px;
  border-radius: var(--shape-corner-full);

  &.active {
    background-color: var(--n-navigation-active-color);
  }

  &:not(.active) {
    @include abstracts.state(var(--n-navigation-hover-color));
  }
}
