@use '../abstracts' as abstracts;

@mixin icon-button() {
  [nIconButton] {
    --n-icon-button-size: 40px;
    --n-icon-button-shape-corner: var(--shape-corner-full);

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: transparent;
    height: var(--n-icon-button-size);
    min-height: var(--n-icon-button-size);
    width: var(--n-icon-button-size);
    min-width: var(--n-icon-button-size);
    border-radius: var(--n-icon-button-shape-corner);

    &[data-button-color='primary'] {
      --n-icon-button-color: var(--color-primary);
    }

    &[data-button-color='secondary'] {
      --n-icon-button-color: var(--color-secondary);
    }

    color: var(--n-icon-button-color);

    @include abstracts.state(var(--n-icon-button-color));

    &[data-button-variant='filled'] {
      &[data-icon-button-color='primary'] {
        --n-button-bg: var(--color-primary);
        --n-button-color: var(--color-on-primary);
      }

      &[data-button-color='secondary'] {
        --n-button-bg: var(--color-secondary);
        --n-button-color: var(--color-on-secondary);
      }

      background: var(--n-button-bg);

      color: var(--n-button-color);

      @include abstracts.state(var(--n-button-color));
    }

    &[disabled] {
      cursor: default;

      --n-icon-button-color: rgba(var(--color-on-surface-rgb), 0.38);
    }
  }
}