@use 'abstracts' as abstracts;

:host {
  position: fixed;
  display: flex;
  background-color: var(--color-surface-container-high);
  color: var(--color-text-high-emphasis);
  border-radius: var(--shape-corner-extra-small);
  min-width: 112px;
  max-width: 280px;
  z-index: 10;

  @include abstracts.elevation(4);
}
