<form
  autocomplete="off"
  [formGroup]="form"
>
  <n-textfield>
    <label for="name">Artist Name</label>

    <input
      formControlName="name"
      id="name"
      required
      type="text"
    />

    @let nameTouched = name.touched;

    <span slot="error">
      @if (name.invalid && nameTouched) {
        @if (name.hasError('required')) {
          <span>Name is required</span>
        }
      }
    </span>
  </n-textfield>

  <n-textfield>
    <label for="genres">Genres</label>

    <input
      id="genres"
      placeholder="Type genre name"
      required
      type="text"
      [nAutocompleteTrigger]="autocomplete"
      (optionSelected)="addGenre($event)"
    />

    <ng-template #autocomplete>
      <n-autocomplete>
        @for (genre of genresResource.value(); track genre.id) {
          <n-autocomplete-option [value]="genre.id">
            {{ genre.name }}
          </n-autocomplete-option>
        }
      </n-autocomplete>
    </ng-template>
  </n-textfield>

  @for (genre of selectedGenres(); track genre) {
    <n-input-chip (remove)="removeGenre(genre.value)"> {{ genre.label }} </n-input-chip>
  }

  <button
    nButton
    type="submit"
    [disabled]="saving()"
    (click)="submit()"
  >
    @if (saving()) {
      <n-loading-indicator [size]="12" />
    } @else {
      {{ submitLabel() }}
    }
  </button>
</form>
