.dropzone {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 1px dashed var(--color-outline);

  // &:hover {
  //   background-color: var(--color-surface-container);
  //   outline-width: 0;
  // }

  &--dragover {
    background-color: var(--color-surface-container);
    outline-width: 0;
  }
}

.dropzone__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--shape-corner-full);
  background-color: var(--color-surface-container-high);
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  
  i {
    font-size: 32px;
  }
}

.dropzone__hint {
  margin-top: 4px;
  color: var(--color-text-medium-emphasis);
}
