@use '../abstracts' as abstracts;

@mixin menu() {
  [data-dropdown-menu-content] {
    --n-dropdown-menu-content-background: var(--color-surface-container-high);
    --n-dropdown-menu-content-color: var(--color-text-high-emphasis);
    --n-dropdown-menu-content-border-radius: var(--shape-corner-extra-small);
    --n-dropdown-menu-content-min-width: 112px;
    --n-dropdown-menu-content-max-width: 280px;

    background-color: var(--n-dropdown-menu-content-background);
    color: var(--n-dropdown-menu-content-color);
    min-width: var(--n-dropdown-menu-content-min-width);
    max-width: var(--n-dropdown-menu-content-max-width);
    overflow: hidden;
    border-radius: var(--n-dropdown-menu-content-border-radius);

    @include abstracts.elevation(4);

    &[data-state='open'] {
      // @include abstracts.shared-axis-z-enter();
    }

    &[data-side='top'] {
      // @include abstracts.slide-enter-from-bottom();
      animation:
        shared-axis-z-enter var(--motion-duration-medium1) var(--motion-easing-emphasized-decelerate) forwards,
        shared-axis-y-enter var(--motion-duration-medium1) var(--motion-easing-emphasized-decelerate) forwards;
    }

    &[data-side='bottom'] {
      @include abstracts.slide-enter-from-top();
    }

    &[data-side='left'] {
      @include abstracts.slide-enter-from-right();
    }

    &[data-side='right'] {
      @include abstracts.slide-enter-from-left();
    }
  }
}