# Application
PORT=3000
UI_URL=http://localhost:4200

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=neko_user
DATABASE_PASSWORD=
DATABASE_NAME=neko_db

# Telemetry
TELEMETRY_SERVICE_NAME=api-library
TELEMETRY_EXPORTER_URL=http://localhost:4317

# Crypto
SALT_ROUNDS=10

# Authentication
COOKIE_SECRET=