@use 'abstracts' as abstracts;

:host {
  position: fixed;
  display: flex;
  background-color: var(--color-surface-container-high);
  color: var(--color-text-high-emphasis);
  border-radius: var(--shape-corner-extra-small);
  min-width: 112px;
  max-width: 280px;

  @include abstracts.elevation(4);
}

ul {
  padding: 8px 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

hr {
  margin: 8px 0;
}
