.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.empty-state {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  $size: 160px;
  width: $size;
  height: $size;
  background-color: var(--color-surface-container-highest);
  border-radius: var(--shape-corner-full);
  padding: 16px;

  i {
    font-size: calc($size * 0.65);
    color: var(--color-inverse-text-medium-emphasis);
  }

  margin-bottom: 24px;
}
