<neko-dialog-title>Add to Playlist</neko-dialog-title>

<neko-textfield>
  <i nekoSlot="left">search</i>

  <input
    [formControl]="searchControl"
    aria-label="Search playlists"
    nekoTextfield
    placeholder="Search playlists"
    type="text"
  />
</neko-textfield>

<neko-dialog-content>
  <button
    aria-label="Create new playlist"
    nekoButton
    variant="outlined"
    (click)="handleCreatePlaylist()"
  >
    <i>add</i>
    Create New Playlist
  </button>

  @if (loading()) {
  } @else {
    @if (hasPlaylists()) {
      <h2 class="title-m">All Playlists</h2>

      @for (playlist of filteredPlaylists(); track playlist.id) {
        <button
          [attr.aria-label]="'Add to ' + playlist.name"
          class="playlist-item"
          nekoButton
          variant="text"
          (click)="handleAddToPlaylist(playlist.id)"
        >
          <i>playlist_play</i>
          <span>{{ playlist.name }}</span>
        </button>
      }
    } @else {
      <div class="empty-state-container">
        <div class="empty-state">
          <i class="outlined">queue_music</i>
        </div>

        <span class="title-m">You don’t have any playlists yet.</span>
        <span class="subtitle-m secondary-text">Create one to get started.</span>
      </div>
    }
  }
</neko-dialog-content>
