<div class="header">
  <h1 class="headline-s">Add to Playlist</h1>

  <button
    aria-label="Close dialog"
    dialogClose
    nekoIconButton
    variant="text"
  >
    <i>close</i>
  </button>
</div>

<neko-textfield>
  <i nekoSlot="left">search</i>

  <input
    [formControl]="searchControl"
    aria-label="Search playlists"
    nekoTextfield
    placeholder="Search playlists"
    type="text"
  />
</neko-textfield>

<button
  aria-label="Create new playlist"
  nekoButton
  variant="outlined"
  (click)="handleCreatePlaylist()"
>
  <i>add</i>
  Create New Playlist
</button>

@if (loading()) {
} @else {
  @if (hasPlaylists()) {
    <h2 class="title-m">All Playlists</h2>

    @for (playlist of filteredPlaylists(); track playlist.id) {
      <button
        [attr.aria-label]="'Add to ' + playlist.name"
        class="playlist-item"
        nekoButton
        variant="text"
      >
        <i>playlist_play</i>
        <span>{{ playlist.name }}</span>
      </button>
    }
  } @else {
    <div class="empty-state-container">
      <div class="empty-state">
        <i class="outlined">queue_music</i>
      </div>

      <span class="title-m">You don’t have any playlists yet.</span>
      <span class="subtitle-m secondary-text">Create one to get started.</span>
    </div>
  }
}
