<form
  autocomplete="off"
  class="artist-form"
  [formGroup]="form"
>
  <div class="artist-form__profile-picture">
    <span class="body-large">Profile Picture</span>

    <n-picture-upload (selectedFile)="onSelectedFile($event)" />
  </div>

  <n-textfield>
    <label for="name">Artist Name</label>

    <input
      formControlName="name"
      id="name"
      required
      type="text"
    />

    @let nameTouched = name.touched;

    <span slot="error">
      @if (name.invalid && nameTouched) {
        @if (name.hasError('required')) {
          <span>Name is required</span>
        }
      }
    </span>
  </n-textfield>

  <n-textfield>
    <label for="genres">Genres</label>

    <input
      formControlName="genreFilter"
      id="genres"
      placeholder="Type genre name"
      type="text"
      [nAutocompleteTrigger]="autocomplete"
      (optionSelected)="addGenre($event)"
    />

    <ng-template #autocomplete>
      <n-autocomplete>
        @if (availableGenres().length > 0) {
          @for (genre of availableGenres(); track genre.id) {
            <n-autocomplete-option [value]="genre.id">
              {{ genre.name }}
            </n-autocomplete-option>
          }
        } @else {
          <n-autocomplete-option disabled> No genres found </n-autocomplete-option>
        }
      </n-autocomplete>
    </ng-template>
  </n-textfield>

  @if (selectedGenres().length > 0) {
    <div class="artist-form__genres">
      @for (genre of selectedGenres(); track genre) {
        <n-input-chip (remove)="removeGenre(genre.value)"> {{ genre.label }} </n-input-chip>
      }
    </div>
  }

  <button
    class="artist-form__submit"
    nButton
    type="submit"
    [disabled]="saving()"
    (click)="submit()"
  >
    @if (saving()) {
      <n-loading-indicator [size]="12" />
    } @else {
      {{ submitLabel() }}
    }
  </button>
</form>
