@use 'abstracts' as abstracts;

$drawer-width: 280px;

:host {
  --n-navigation-active-bg: rgba(var(--color-on-surface-rgb), .16);
  --n-navigation-hover-color: var(--color-on-surface);
  --n-app-bar-height: 88px;
  --n-player-height: 88px;

  width: $drawer-width;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--color-surface);
  width: $drawer-width;
  height: calc(100vh - var(--n-player-height));
  padding-top: 12px;

  @include abstracts.elevation(0);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: row;
  height: 48px;
  gap: 12px;
  padding: 0 16px;
  margin: 0 12px;
  border-radius: var(--shape-corner-full);

  &.active {
    background-color: var(--n-navigation-active-bg);
  }

  &:not(.active) {
    @include abstracts.state(var(--n-navigation-hover-color));
  }
}

neko-logo {
  margin-bottom: 12px;
  margin-left: 20px;
}

