<form
  autocomplete="off"
  class="genre-form"
  (submit)="submit($event)"
>
  <n-textfield>
    <label for="name">Name</label>

    <input
      id="name"
      type="text"
      [formField]="genreForm.name"
    />

    @let nameTouched = genreForm.name().touched();
    @let nameInvalid = genreForm.name().invalid();

    @if (nameInvalid && nameTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (nameInvalid && nameTouched) {
        @for (error of genreForm.name().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <n-textfield>
    <label for="slug">Slug</label>

    <input
      id="slug"
      type="text"
      [formField]="genreForm.slug"
    />

    @let slugTouched = genreForm.slug().touched();
    @let slugInvalid = genreForm.slug().invalid();

    @if (slugInvalid && slugTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (slugInvalid && slugTouched) {
        @for (error of genreForm.slug().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <div class="genre-form__actions">
    <button
      nButton
      type="submit"
      [disabled]="saving()"
    >
      @if (saving()) {
        <n-loading-indicator [size]="12" />
      } @else {
        {{ submitLabel() }}
      }
    </button>

    <button
      color="secondary"
      nButton
      type="button"
      variant="outlined"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
