<form
  autocomplete="off"
  class="genre-form"
  (submit)="submit($event)"
>
  <n-textfield>
    <label for="name">Name</label>

    <input
      id="name"
      type="text"
      [formField]="genreForm.name"
    />

    @let nameTouched = genreForm.name().touched();
    @let nameInvalid = genreForm.name().invalid();

    @if (nameInvalid && nameTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (nameInvalid && nameTouched) {
        @for (error of genreForm.name().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <button
    class="genre-form__submit"
    nButton
    type="submit"
    [disabled]="saving()"
  >
    @if (saving()) {
      <n-loading-indicator [size]="12" />
    } @else {
      {{ submitLabel() }}
    }
  </button>
</form>
