:host {
   flex: 1;
}

.import-list {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 32px;
  flex: 1;
  height: 100%;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }

  &__table {
    flex: 1;
  }
}
