<h1 class="display-medium">Sign up to start listening</h1>

<form
  autocomplete="off"
  (submit)="register($event)"
>
  <n-textfield>
    <label for="email">Email address</label>

    <input
      id="email"
      type="email"
      [formField]="registrationForm.email"
    />

    @let emailTouched = registrationForm.email().touched();
    @let emailInvalid = registrationForm.email().invalid();

    @if (emailInvalid && emailTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (emailInvalid && emailTouched) {
        @for (error of registrationForm.email().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }

      @if (registrationForm.email().value() === lastEmail() && emailTaken()) {
        <span>This email is already in use. Please use a different email address.</span>
      }
    </span>
  </n-textfield>

  <n-textfield>
    <label for="password">Password</label>

    <input
      id="password"
      type="password"
      [formField]="registrationForm.password"
      [type]="hidePassword() ? 'password' : 'text'"
    />

    @let passwordTouched = registrationForm.password().touched();
    @let passwordInvalid = registrationForm.password().invalid();

    <button
      aria-label="Show password"
      nIconButton
      slot="right"
      tabindex="-1"
      type="button"
      [attr.aria-pressed]="hidePassword()"
      (click)="togglePassword()"
    >
      <i>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</i>
    </button>

    @if (passwordInvalid && passwordTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }
  </n-textfield>

  <div class="registration-page__password-requirements">
    <span class="label-large">Your password must contain at least</span>

    <ul class="body-small">
      @let requiredError = registrationForm.password().errors().some(error => error.message === 'required');

      <li>
        @let minLengthError = registrationForm.password().errors().some(error => error.message === 'minlength');

        @if (!minLengthError && !requiredError && passwordTouched) {
          <i class="success">check_circle</i>
        } @else {
          <i>radio_button_unchecked</i>
        }

        <span [class.error]="(minLengthError || requiredError) && passwordTouched"> 8 characters </span>
      </li>

      <li>
        @let patternError = registrationForm.password().errors().some(error => error.message === 'pattern');

        @if (!patternError && !requiredError && passwordTouched) {
          <i class="success">check_circle</i>
        } @else {
          <i>radio_button_unchecked</i>
        }

        <span [class.error]="(patternError || requiredError) && passwordTouched">
          1 number or special character (example: # $ % & *)
        </span>
      </li>
    </ul>
  </div>

  <n-textfield>
    <label
      class="registration-page__name-label"
      for="displayName"
    >
      Name
      <span class="body-small registration-page__name-label-description">This name will appear on your profile</span>
    </label>

    <input
      id="displayName"
      type="text"
      [formField]="registrationForm.displayName"
    />

    @let displayNameTouched = registrationForm.displayName().touched();
    @let displayNameInvalid = registrationForm.displayName().invalid();

    @if (displayNameInvalid && displayNameTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (displayNameInvalid && displayNameTouched) {
        @for (error of registrationForm.displayName().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <button
    nButton
    type="submit"
    [disabled]="loading()"
    (click)="register($event)"
  >
    @if (loading()) {
      <n-loading-indicator [size]="12" />
    } @else {
      Create account
    }
  </button>
</form>

<p class="body-medium">
  Already have an account?
  <a
    class="link"
    routerLink="/login"
  >
    Sign In
  </a>
</p>
