@use 'abstracts' as abstracts;

:host {
  display: flex;
  justify-content: center;
  gap: 8px;

  @include abstracts.screen(compact, medium) {
    .player-controls-shuffle-button,
    .player-controls-previous-button,
    .player-controls-repeat-button {
      display: none;
    }
  }
}

.inactive {
  opacity: 0.4;
}

.player-controls-button {
  color: var(--color-surface-container);
  background-color: var(--color-text-high-emphasis) !important;

  &:hover {
    background-color: var(--color-text-high-emphasis);
  }
}