<h1 class="headline-large">Log In</h1>

@if (invalidCredentials()) {
  <div class="login-page__error-banner body-medium">
    Sorry, couldn't find an account matching the username and password you entered. Please try again.
  </div>
}

<form
  autocomplete="off"
  (submit)="login($event)"
>
  <n-textfield>
    <label for="email">Email address</label>

    <input
      id="email"
      type="email"
      [formField]="loginForm.email"
    />

    @let emailTouched = loginForm.email().touched();
    @let emailInvalid = loginForm.email().invalid();

    @if (emailInvalid && emailTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (emailInvalid && emailTouched) {
        @for (error of loginForm.email().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <n-textfield>
    <label for="password">Password</label>

    <input
      id="password"
      [formField]="loginForm.password"
      [type]="hidePassword ? 'password' : 'text'"
    />

    @let passwordTouched = loginForm.password().touched();
    @let passwordInvalid = loginForm.password().invalid();

    <button
      aria-label="Show password"
      nIconButton
      slot="right"
      tabindex="-1"
      type="button"
      [attr.aria-pressed]="hidePassword"
      (click)="hidePassword = !hidePassword"
    >
      <i>{{ hidePassword ? 'visibility_off' : 'visibility' }}</i>
    </button>

    @if (passwordInvalid && passwordTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (passwordInvalid && passwordTouched) {
        @for (error of loginForm.password().errors(); track error) {
          <span>{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <button
    nButton
    type="submit"
    [disabled]="loading()"
    (click)="login($event)"
  >
    @if (loading()) {
      <n-loading-indicator [size]="12" />
    } @else {
      Log In
    }
  </button>
</form>

<p class="body-medium">
  Don't have an account?
  <a
    class="link"
    routerLink="/registration"
  >
    Sign up
  </a>
</p>
