@use 'abstracts' as abstracts;

$size: 56px;

:host {
  height: $size;
  display: flex;
  align-items: center;
  overflow: hidden;
}

img {
  width: $size;
  height: $size;
  object-fit: cover;
  border-radius: var(--shape-corner-small);
  margin-right: 16px;
}

.title {
  a {
    width: fit-content;
  
    &:hover {
      text-decoration: underline;
    }
  }
}


