@use '../abstracts' as abstracts;

@mixin default() {
  :root {
    // Text
    --color-text-high-emphasis: rgb(255 255 255 / 96%);
    --color-text-medium-emphasis: rgb(255 255 255 / 60%);
    --color-text-disabled: rgb(255 255 255 / 38%);

    // Text Inverse
    --color-inverse-text-high-emphasis: rgb(0 0 0 / 96%);
    --color-inverse-text-medium-emphasis: rgb(0 0 0 / 60%);
    --color-inverse-text-disabled: rgb(0 0 0 / 38%);

    // Primary
    --color-primary: #04ca96;
    --color-primary-rgb: #{abstracts.hex-to-rgb(#04ca96)};
    --color-on-primary: var(--color-inverse-text-high-emphasis);

    // Secondary
    --color-secondary: #fff;
    --color-secondary-rgb: #{abstracts.hex-to-rgb(#fff)};
    --color-on-secondary: var(--color-surface);

    // Outline
    --color-outline: rgb(255 255 255 / 16%);

    // Surface
    --color-surface: #101010;
    --color-surface-rgb: #{abstracts.hex-to-rgb(#101010)};
    --color-on-surface: var(--color-text-high-emphasis);
    --color-on-surface-rgb: 255, 255, 255; 
    --color-surface-container: #191919;
    --color-surface-container-highest: #6B6B6B;
    --color-surface-container-high: #262626;
    --color-surface-container-lowest: #000;
    --color-surface-container-lowest-rgb: #{abstracts.hex-to-rgb(#000)};
  }

  html {
    color: var(--color-text-high-emphasis);
    background-color: var(--color-surface);
  }

  .primary-text {
    color: var(--color-text-high-emphasis);
  }

  .secondary-text {
    color: var(--color-text-medium-emphasis);
  }

}