<form
  autocomplete="off"
  class="album-form"
  (submit)="submit($event)"
>
  <div class="album-form__profile-picture">
    <span class="body-large">Profile Picture</span>

    <n-picture-upload
      [existingImageUrl]="album()?.artwork?.url | artwork: 'medium'"
      [formField]="albumForm.image"
    />
  </div>

  <n-textfield>
    <label for="name">Album Name</label>

    <input
      id="name"
      type="text"
      [formField]="albumForm.name"
    />

    @let nameTouched = albumForm.name().touched();
    @let nameInvalid = albumForm.name().invalid();

    @if (nameInvalid && nameTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (nameInvalid && nameTouched) {
        @for (error of albumForm.name().errors(); track error) {
          <span class="error">{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <n-genre-autocomplete [formField]="albumForm.genres" />

  <div class="album-form__actions">
    <button
      nButton
      type="submit"
      [disabled]="saving()"
    >
      @if (saving()) {
        <n-loading-indicator [size]="12" />
      } @else {
        {{ submitLabel() }}
      }
    </button>

    <button
      color="secondary"
      nButton
      type="button"
      variant="outlined"
      (click)="cancel()"
    >
      Cancel
    </button>
  </div>
</form>
