<form
  autocomplete="off"
  class="artist-form"
  [formGroup]="form"
>
  <div class="artist-form__profile-picture">
    <span class="body-large">Profile Picture</span>

    <n-picture-upload (selectedFile)="onSelectedFile($event)" />
  </div>

  <n-textfield>
    <label for="name">Artist Name</label>

    <input
      formControlName="name"
      id="name"
      required
      type="text"
    />

    @let nameTouched = name.touched;

    @if (name.invalid && nameTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (name.invalid && nameTouched) {
        @if (name.hasError('required')) {
          <span>Name is required</span>
        }
      }
    </span>
  </n-textfield>

  <n-genre-picker (selectionChange)="onGenreSelectionChange($event)" />

  <button
    class="artist-form__submit"
    nButton
    type="submit"
    [disabled]="saving()"
    (click)="submit()"
  >
    @if (saving()) {
      <n-loading-indicator [size]="12" />
    } @else {
      {{ submitLabel() }}
    }
  </button>
</form>
