<form
  autocomplete="off"
  class="artist-form"
  (submit)="submit($event)"
>
  <div class="artist-form__profile-picture">
    <span class="body-large">Profile Picture</span>

    <n-picture-upload
      [src]="artworkUrl() | artwork: 'medium'"
      (selectedFile)="onSelectedFile($event)"
    />
  </div>

  <n-textfield>
    <label for="name">Artist Name</label>

    <input
      id="name"
      type="text"
      [formField]="artistForm.name"
    />

    @let nameTouched = artistForm.name().touched();
    @let nameInvalid = artistForm.name().invalid();

    @if (nameInvalid && nameTouched) {
      <i
        aria-hidden="true"
        class="color-error"
        slot="right"
      >
        error
      </i>
    }

    <span slot="error">
      @if (nameInvalid && nameTouched) {
        @for (error of artistForm.name().errors(); track error) {
          <span class="error">{{ error.message }}</span>
        }
      }
    </span>
  </n-textfield>

  <n-genre-autocomplete [formField]="artistForm.genres" />

  <button
    class="artist-form__submit"
    nButton
    type="submit"
    [disabled]="saving()"
  >
    @if (saving()) {
      <n-loading-indicator [size]="12" />
    } @else {
      {{ submitLabel() }}
    }
  </button>
</form>
