@use '../abstracts' as abstracts;

@mixin navigation-drawer() {
  nav {
    --n-navigation-drawer-width: 256px;
    --n-navigation-drawer-background: var(--color-surface);
    --n-navigation-drawer-color: var(--color-on-surface);
    --n-navigation-drawer-item-height: 48px;
    --n-navigation-drawer-item-active-color: var(--color-on-surface);
    --n-navigation-drawer-item-active-background: rgba(var(--color-on-surface-rgb), .16);
    --n-navigation-drawer-item-hover-color: var(--color-on-surface);

    width: var(--n-navigation-drawer-width);
    color: var(--n-navigation-drawer-color);
    background-color: var(--n-navigation-drawer-background);
    border-right: 1px solid var(--color-outline);

    @include abstracts.typography(label-large);

    ul {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: var(--spacing-layout) 0;
      width: var(--n-navigation-drawer-width);
      inset: 0 0 auto;
    }
    
    li {
      list-style: none;
      width: 100%;
      height: var(--n-navigation-drawer-item-height);
      
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      padding: 0 16px;
      margin: 0 12px;
      height: var(--n-navigation-drawer-item-height);
      border-radius: var(--shape-corner-full);

      &.active {
        color: var(--n-navigation-drawer-item-active-color);
        background-color: var(--n-navigation-drawer-item-active-background);
      }

      &:not(.active) {
        @include abstracts.state(var(--n-navigation-drawer-item-hover-color));
      }
    }
  }
}
