<neko-dialog-title>Create Playlist</neko-dialog-title>

<neko-dialog-content>
  <form [formGroup]="form">
    <neko-textfield>
      <label>Name</label>

      <input
        formControlName="name"
        nekoTextfield
        placeholder="Name"
        type="text"
      />

      <neko-error [control]="form.controls.name" />
    </neko-textfield>

    <neko-textfield>
      <label>Description</label>

      <input
        formControlName="description"
        nekoTextfield
        placeholder="Description"
        type="text"
      />
    </neko-textfield>

    <input
      formControlName="isPublic"
      nekoCheckbox
      type="checkbox"
    />
    <label>Public</label>
  </form>
</neko-dialog-content>

<neko-dialog-actions>
  <button
    aria-label="Cancel"
    dialogClose
    nekoButton
    variant="text"
  >
    Cancel
  </button>

  <button
    aria-label="Create playlist"
    nekoButton
    variant="filled"
    (click)="handleSubmit()"
  >
    Create
  </button>
</neko-dialog-actions>
