<h1 class="display-medium">Sign up to start listening</h1>

<form
  autocomplete="off"
  [formGroup]="form"
>
  <n-textfield>
    <label for="email">Email address</label>

    <input
      formControlName="email"
      id="email"
      required
      type="email"
    />

    @let emailControl = form.controls.email;
    @let emailTouched = emailControl.touched;

    <span slot="error">
      @if (emailControl.invalid && emailTouched) {
        @if (emailControl.hasError('required')) {
          <span>Email is required</span>
        }

        @if (emailControl.hasError('email')) {
          <span>Email must be in the format name&#64;example.com</span>
        }
      }

      @if (emailControl.value === lastEmail() && emailTaken()) {
        <span>This email is already in use. Please use a different email address.</span>
      }
    </span>
  </n-textfield>

  <n-textfield>
    <label for="password">Password</label>

    <input
      formControlName="password"
      id="password"
      required
      [type]="hidePassword() ? 'password' : 'text'"
    />

    <button
      aria-label="Show password"
      color="secondary"
      nIconButton
      slot="right"
      tabindex="-1"
      type="button"
      variant="text"
      [attr.aria-pressed]="hidePassword()"
      (click)="togglePassword()"
    >
      <i>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</i>
    </button>
  </n-textfield>

  <div class="registration-page__password-requirements">
    <span class="label-large">Your password must contain at least</span>

    <ul class="body-small">
      @let passwordControl = form.controls.password;
      @let passwordTouched = passwordControl.touched;
      @let pristine = passwordControl.pristine;
      @let requiredError = passwordControl.hasError('required');

      <li>
        @let minLengthError = passwordControl.hasError('minlength');

        @if (!minLengthError && !requiredError && !pristine) {
          <i class="success">check_circle</i>
        } @else {
          <i>radio_button_unchecked</i>
        }

        <span [class.error]="(minLengthError || requiredError) && passwordTouched"> 8 characters </span>
      </li>

      <li>
        @let patternError = passwordControl.hasError('pattern');

        @if (!patternError && !requiredError && !pristine) {
          <i class="success">check_circle</i>
        } @else {
          <i>radio_button_unchecked</i>
        }

        <span [class.error]="(patternError || requiredError) && passwordTouched">
          1 number or special character (example: # $ % & *)
        </span>
      </li>
    </ul>
  </div>

  <n-textfield>
    <label
      class="registration-page__name-label"
      for="displayName"
    >
      Name
      <span class="body-small registration-page__name-label-description">This name will appear on your profile</span>
    </label>

    <input
      formControlName="displayName"
      id="displayName"
      required
      type="text"
    />

    @let displayNameControl = form.controls.displayName;
    @let displayNameTouched = displayNameControl.touched;

    <span slot="error">
      @if (displayNameControl.invalid && displayNameTouched) {
        @if (displayNameControl.hasError('required')) {
          <span>Name is required</span>
        }
      }
    </span>
  </n-textfield>

  <button
    nButton
    type="submit"
    [disabled]="loading()"
    (click)="register()"
  >
    @if (loading()) {
      <n-loading-indicator [size]="12" />
    } @else {
      Create account
    }
  </button>
</form>

<p class="body-medium">
  Already have an account?
  <a
    class="link"
    routerLink="/login"
  >
    Sign In
  </a>
</p>
