:host {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'navigation main'
    'player player';
  column-gap: var(--spacing-layout);
  min-height: 100%;
}

neko-header {
  grid-area: header;
  width: 100%;
  margin: 0 auto;
}

neko-navigation-drawer {
  grid-area: navigation;
}

main {
  grid-area: main;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

neko-player {
  grid-area: player;
}
