@mixin motions() {
  :root {
    // Duration

    // Short
    // These are used for small utility-focused transitions.
    --motion-duration-short1: 50ms;
    --motion-duration-short2: 100ms;
    --motion-duration-short3: 150ms;
    --motion-duration-short4: 200ms;

    // Medium
    // These are used for transitions that traverse a medium area of the screen.
    --motion-duration-medium1: 250ms;
    --motion-duration-medium2: 300ms;
    --motion-duration-medium3: 350ms;
    --motion-duration-medium4: 400ms;

    // Long
    // These durations are often paired with Emphasized easing. They're used for large expressive transitions.
    --motion-duration-long1: 450ms;
    --motion-duration-long2: 500ms;
    --motion-duration-long3: 550ms;
    --motion-duration-long4: 600ms;

    // Extra long
    // Though rare, some transitions use durations above 600ms. These are usually used for ambient transitions that don't involve user input.
    --motion-duration-extra-long1: 700ms;
    --motion-duration-extra-long2: 800ms;
    --motion-duration-extra-long3: 900ms;
    --motion-duration-extra-long4: 1000ms;

    // Easing

    // Standard
    // This set is used for simple, small, or utility-focused transitions.
    --motion-easing-standard: cubic-bezier(0.2, 0.0, 0, 1.0);
    --motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    --motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);

    // Emphasized
    // This set is the most common because it captures the expressive style.
    --motion-easing-emphasized: var(--motion-easing-standard);
    --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1.0);
    --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0.0, 0.8, 0.15);

    // Transition

    // Top level
  }
}