
@mixin reset() {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    margin: 0;
    overflow: hidden auto;
  }

  html,
  body {
    // Ensures that these elements extend to the full height of the viewport
    height: 100vh;
    min-height: 100vh;
    color: var(--color-on-surface);
    background-color: var(--color-surface);

    @supports (height: 100svh) {
      height: 100svh;
    }
  }
}