// Hover +8% opacity 
// Focus +10% opacity 
// Press +10% opacity
// Drag +16% opacity

// Disabled reducing the enabled state to 38% opacity
// Inoperable components can’t be focused, dragged, or pressed and don’t change state when tapped or hovered over.


// primary hover -> on-primary .08 opacity

// disabled
// container -> surface .12 opacity
// text -> on-surface .38 opacity
// outline -> surface .12 opacity

@mixin states() {
  :root {
    --state-dragged-layer-opacity:  0.16;
    --state-focus-layer-opacity:  0.12;
    --state-hover-layer-opacity:  0.08;
    --state-pressed-layer-opacity:  0.12;
    --state-disabled-layer-opacity: 0.38;
  }
}
