@mixin typography() {
  :root {
    --typography-font-family: 'Noto Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;

    // Body large
    --typography-body-large-size: 1rem;
    --typography-body-large-line-height: 1.5rem;
    --typography-body-large-tracking: 0.0313rem;
    --typography-body-large-weight: 400;

    // Body small
    --typography-body-small-size: 0.875rem;
    --typography-body-small-line-height: 1.25rem;
    --typography-body-small-tracking: 0.0063rem;
    --typography-body-small-weight: 400;

    // Title large
    --typography-title-large-size: 1.375rem; // 22px
    --typography-title-large-line-height: 1.75rem; // 28px
    --typography-title-large-tracking: 0rem;
    --typography-title-large-weight: 400;

    // Label large
    --typography-label-large-size: 0.875rem;
    --typography-label-large-line-height: 1.25rem;
    --typography-label-large-tracking: 0.0063rem;
    --typography-label-large-weight: 500;

    // Label medium
    --typography-label-medium-size: 0.75rem;
    --typography-label-medium-line-height: 1rem;
    --typography-label-medium-tracking: 0.0313rem;
    --typography-label-medium-weight: 500;
  }

  body {
    font-family: var(--typography-font-family);
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--typography-font-family);
    font-weight: 500;
    text-wrap: balance;
  }

  .display-xl {
    font-size: 88px;
    line-height: 96px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  h1,
  .display-l {
    font-size: 57px;
    line-height: 64px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  h2,
  .display-m {
    font-size: 45px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0;
  }
  
  .display-s {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .headline-l {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .headline-m {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .headline-s {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .title-l {
    font-size: var(--typography-title-large-size);
    line-height: var(--typography-title-large-line-height);
    letter-spacing: var(--typography-title-large-tracking);
    font-weight: var(--typography-title-large-weight);
  }
  
  .title-m {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
  }
  
  .title-s {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0;
  }
  
  .label-l {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  .label-m {
    font-size: var(--typography-label-medium-size);
    line-height: var(--typography-label-medium-line-height);
    letter-spacing: var(--typography-label-medium-tracking);
    font-weight: var(--typography-label-medium-weight);
  }
  
  .label-s {
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  p,
  .body-l {
    font-size: var(--typography-body-large-size);
    line-height: var(--typography-body-large-line-height);
    letter-spacing: var(--typography-body-large-tracking);
    font-weight: var(--typography-body-large-weight);
  }
  
  .body-m {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .body-s {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .link {
    text-decoration: underline;
    color: var(--color-primary);
    transition: .3s;
  
    &:hover {
      opacity: .7;
    }
  }

  hr {
    border: 0;
    border-block-start-width: 1px;
    border-style: solid;
    border-color: var(--color-outline);
    width: 100%;
    margin-block: 1rem;
    transition: border-color 0.3s ease;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
