@mixin state($overlay) {
  position: relative;

  &:not([disabled]) {
    &::before {
      content: '';
      background-color: transparent;
      opacity: 0;
      border-radius: inherit;
      position: absolute;
      inset: 0;
      overflow: hidden;
      transition: opacity 15ms linear, background-color 15ms linear;
    }
  
    &:hover {
      &::before {
        background-color: $overlay;
        opacity: var(--state-hover-layer-opacity);
      }
    }

    &:focus {
      &::before {
        background-color: $overlay;
        opacity: var(--state-focus-layer-opacity);
      }
    }
  }
}
