$screen-compact: 600px;
$screen-medium: 840px;
$screen-expanded: 1200px;
$screen-large: 1600px;
$tolerance: .02px;

@mixin screen($size) {
  @if $size == compact {
    @media (max-width: ($screen-compact - $tolerance)) { @content; }
  } @else if $size == medium {
    @media (min-width: $screen-compact) and (max-width: ($screen-medium - $tolerance)) { @content; }
  } @else if $size == expanded {
    @media (min-width: $screen-medium) and (max-width: ($screen-expanded - $tolerance)) { @content; }
  } @else if $size == large {
    @media (min-width: $screen-expanded) and (max-width: ($screen-large - $tolerance)) { @content; }
  } @else if $size == extra-large {
    @media (min-width: $screen-large) { @content; }
  }
}
