$window-class-compact: 600px;
$window-class-medium: 840px;
$window-class-expanded: 1200px;
$window-class-large: 1600px;
$tolerance: .02px;

@mixin window-class($sizes...) {
  @each $size in $sizes {
    @if $size == compact {
      @media (max-width: ($window-class-compact - $tolerance)) { @content; }
    } @else if $size == medium {
      @media (min-width: $window-class-compact) and (max-width: ($window-class-medium - $tolerance)) { @content; }
    } @else if $size == expanded {
      @media (min-width: $window-class-medium) and (max-width: ($window-class-expanded - $tolerance)) { @content; }
    } @else if $size == large {
      @media (min-width: $window-class-expanded) and (max-width: ($window-class-large - $tolerance)) { @content; }
    } @else if $size == extra-large {
      @media (min-width: $window-class-large) { @content; }
    } @else {
      @error "Invalid window class: #{$size}";
    }
  }
}
