:host {
  display: grid;
  padding: 8px;
  height: 72px;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.list-item-text {
  display: flex;
  flex-direction: column;
}

h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
