.track-list-item {
  display: grid;
  padding: 8px;
  align-items: center;
  gap: 16px;
  grid-template-columns: auto 1fr auto;
  border-radius: var(--shape-corner-medium);
}

h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.track-list-item-image-container {
  position: relative;
  height: 56px;
  width: 56px;

  img {
    border-radius: var(--shape-corner-medium);
  }

  button {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-self: center;
    transform: translate(-50%, -50%);
    color: var(--color-on-surface);
    background-color: rgba( var(--color-surface-rgb), .69);
    transition: background-color .3s ease-in-out;
  }
}

.track-list-item-active {
  button {
    visibility: visible;
    background-color: rgba( var(--color-surface-rgb), .9);
  }
}

.track-list-item-image-container button:hover {
  background-color: rgba( var(--color-surface-rgb), .9);
}

:host(:hover) {
  button {
    visibility: visible;
  }
}
