<div
  [class.track-list-item-active]="isPlaying()"
  [selector]="selectors.trackListItem"
  class="track-list-item"
>
  <div class="track-list-item-image-container">
    <img
      [alt]="track.title"
      [ngSrc]="track.images | imageUrl: 'small'"
      [selector]="selectors.trackImage"
      alt=""
      height="56"
      width="56"
    />

    <button
      [selector]="selectors.playButton"
      nekoIconButton
      (click)="togglePlay.emit()"
    >
      <neko-play-icon [isPlaying]="isPlaying()" />
    </button>
  </div>

  <div class="truncate secondary-text">
    <h3
      [attr.tabindex]="false"
      [selector]="selectors.trackLabel"
      [title]="track.title"
      class="title-m truncate primary-text"
      (click)="togglePlay.emit()"
      (keyup)="togglePlay.emit()"
    >
      {{ track.title }}
    </h3>

    <neko-track-artist-list
      [artists]="track.artists"
      [selector]="selectors.artistLabel"
      class="title-s"
    />
  </div>

  <button
    [nekoDropdownTrigger]="menu"
    [selector]="selectors.menuButton"
    [(nekoDropdownOpen)]="menuOpen"
    nekoIconButton
    variant="text"
  >
    <i>more_vert</i>
  </button>
</div>

<ng-template #menu>
  <neko-menu>
    <ul class="track-list-item-menu">
      <li
        [attr.tabindex]="false"
        (click)="togglePlay.emit(); handleMenuClick()"
        (keyup)="togglePlay.emit(); handleMenuClick()"
      >
        <i class="secondary-text">play_arrow</i>
        <span class="label-l">Play</span>
      </li>

      <hr *hasPermissions="[permissions.LibraryUpdate, permissions.PlaylistUpdate]" />

      <li
        *hasPermissions="permissions.LibraryUpdate"
        [attr.tabindex]="false"
        (click)="handleMenuClick()"
        (keyup)="handleMenuClick()"
      >
        <i class="secondary-text">add</i>
        <span class="label-l">Add to library</span>
      </li>
      <li
        *hasPermissions="permissions.PlaylistUpdate"
        [attr.tabindex]="false"
        (click)="handleAddToPlaylist(); handleMenuClick()"
        (keyup)="handleAddToPlaylist(); handleMenuClick()"
      >
        <i class="secondary-text">playlist_add</i>
        <span class="label-l">Add to playlist</span>
      </li>

      <hr />

      <li
        [attr.tabindex]="false"
        (click)="handleMenuClick()"
        (keyup)="handleMenuClick()"
      >
        <i class="outlined secondary-text">queue_play_next</i>
        <span class="label-l">Play next</span>
      </li>
      <li
        [attr.tabindex]="false"
        (click)="handleMenuClick()"
        (keyup)="handleMenuClick()"
      >
        <i class="outlined secondary-text">add_to_queue</i>
        <span class="label-l">Play last</span>
      </li>

      <!-- @if (track.album) {
        <hr />

        <li
          [attr.tabindex]="false"
          (click)="handleMenuClick()"
          (keyup)="handleMenuClick()"
        >
          <i class="outlined secondary-text">library_music</i>
          <span class="label-l">Go to album</span>
        </li>
      } -->
    </ul>
  </neko-menu>
</ng-template>
