<div class="app-layout">
  <main data-layout-area="content">
    <router-outlet />
  </main>

  @defer (when showPlayer()) {
    <n-player data-layout-area="player" />
  }

  <nav
    aria-label="Main Menu"
    data-layout-area="navigation"
  >
    <ul>
      <li [aria-current]="home.isActive ? 'page' : undefined">
        <a
          #home="routerLinkActive"
          routerLink=""
          routerLinkActive="active"
          [class.active]="home.isActive"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i
            aria-hidden="true"
            [class.outlined]="!home.isActive"
          >
            home
          </i>

          <span>Home</span>
        </a>
      </li>

      <li [aria-current]="browse.isActive ? 'page' : undefined">
        <a
          #browse="routerLinkActive"
          routerLink="/browse"
          routerLinkActive="active"
          [class.active]="browse.isActive"
        >
          <i
            aria-hidden="true"
            [class.outlined]="!browse.isActive"
          >
            explore
          </i>

          <span>Browse</span>
        </a>
      </li>

      <li [aria-current]="library.isActive ? 'page' : undefined">
        <a
          #library="routerLinkActive"
          routerLink="/library"
          routerLinkActive="active"
          [class.active]="library.isActive"
        >
          <i
            aria-hidden="true"
            [class.outlined]="!library.isActive"
          >
            library_music
          </i>

          <span>Library</span>
        </a>
      </li>

      <li [aria-current]="search.isActive ? 'page' : undefined">
        <a
          #search="routerLinkActive"
          routerLink="/search"
          routerLinkActive="active"
          [class.active]="search.isActive"
        >
          <i
            aria-hidden="true"
            [class.outlined]="!search.isActive"
          >
            search
          </i>

          <span>Search</span>
        </a>
      </li>

      <li [aria-current]="test.isActive ? 'page' : undefined">
        <a
          #test="routerLinkActive"
          routerLink="/backstage/genres"
          routerLinkActive="active"
          [class.active]="test.isActive"
        >
          <i
            aria-hidden="true"
            [class.outlined]="!test.isActive"
          >
            experiment
          </i>

          <span>Backstage</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
