<nav>
  <neko-logo />

  <button
    aria-label="Close navigation"
    nekoIconButton
    variant="text"
    (click)="collapse.emit()"
  >
    <i>menu_open</i>
  </button>

  <ul class="lable-l">
    <li
      #home="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
      routerLinkActive="active"
    >
      <i [class.outlined]="!home.isActive">home</i>
      Home
    </li>

    <li
      #browse="routerLinkActive"
      routerLink="/browse"
      routerLinkActive="active"
    >
      <i [class.outlined]="!browse.isActive">explore</i>
      Browse
    </li>

    <li
      *hasPermissions="permissions.LibraryRead"
      #library="routerLinkActive"
      routerLink="/library"
      routerLinkActive="active"
    >
      <i [class.outlined]="!library.isActive">library_music</i>
      Library
    </li>
  </ul>
</nav>

<div
  class="navigation-scrim"
  tabindex="0"
  (click)="collapse.emit()"
  (keydown)="collapse.emit()"
></div>
